.shopping__category__cantiner {
    width: 100%;
    height: 410px;
    position: relative;
    top: 15px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    .shopping {
        width: 80%;
        height: 91px;
        position: absolute;
        top: 0;

        h3 {
            text-align: center;
            line-height: 90px;
            font-size: 18px;
            font-family: yekan;
        }
    }

    .shopping__part {
        width: 80%;
        height: calc(410px - 90px);
        position: absolute;
        bottom: 0px;
        display: flex;
        flex-flow: row wrap;
        justify-content: space-between;
        gap: 45px;

        img {
            width: 100px;
            height: 100px;
        }

        p {
            font-size: 12px;
            text-align: center;
            font-family: yekan;
        }
    }
}