.special__shop {
    width: 100%;
    height: 265px;
    .special__img {
        width: 80%;
        height: 265px;
        margin: 30px auto;
        display: flex;
        gap: 10px;

        .special__shop {
            width: calc(100% /2);
            img {
                width: 100%;
                height: 265px;
                border-radius: 18px;
            }
        }
    }
}